<div  data-controller="update-users" data-update-users-target="scholar">
  <div class = "index-row">
    <div class= "d-flex">
      <div class="table-input d-flex align-items-center justify-content-left m-1">
        <% if current_user == team.user %>
          <div class="d-flex edit-address" data-action="click->update-users#updateArrowToggle">
            <img src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwww.clipartbest.com%2Fcliparts%2Face%2FXMb%2FaceXMbaEi.png&f=1&nofb=1" alt="edit option" data-update-users-target="arrow" class="arrow-up">
          </div>
        <% end %>
        <div>
          <strong><%= team.scholar_name.present? ? team.scholar_name : "" %></strong>
        </div>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= (team.win_rate.present? && !team.win_rate.nan?) ? "#{(team.win_rate * 100).to_i} %" : "-" %>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= team.mmr.present? ? number_with_delimiter(team.mmr, :delimiter => ',') : "" %>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= team.rank.present? ? number_with_delimiter(team.rank, :delimiter => ',') : "" %>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= team.current_slp.present? ? number_with_delimiter(team.current_slp, :delimiter => ',') : "" %>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= team.total_slp.present? ? number_with_delimiter(team.total_slp, :delimiter => ',') : "" %>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= "In " %><%= team.next_claim.present? ? ((Time.at(team.next_claim) - Time.now)/60/60/24).to_i : "" %><%= ((Time.at(team.next_claim) - Time.now)/60/60/24).to_i == 1 ? " day" : " days" %>
      </div>
    </div>
    <% if current_user == team.user %>
      <div class="d-flex">
        <div class = "empty-row mt-0 mb-0 w-100 d-flex justify-content-start">
          <%= simple_form_for team, url: "/ronin_address/#{team.id}",
            :method => :patch,
            html: { class: "d-flex justify-content-left mt-2 d-none", data: { update_users_target: "form", action: "submit->update-users#updateScholarName" }},
            defaults: { wrapper: false },
            remote: true do |f| %>
            <div class="">
              <div class="d-flex form-input h-100">
                <%= f.input :scholar_name, label: false, input_html: { class: "visible-input-update"}, placeholder: 'New scholar name' %>
                <%= f.input :ronin_address, :as => :hidden, :input_html => { :value => team.ronin_address } %>
              </div>
            </div>
            <div class="submit" >
              <%= f.submit "Update"%>
            </div>
          <% end %>
          <div class="team-delete-button">
            <%= button_to "Delete scholar", "/ronin_address/#{(team.id)}", method: :delete, class: "d-none", data: { update_users_target: "deleteButton", confirm: "You will delete #{team.scholar_name.present? ? team.scholar_name : ""}, are you sure?"} %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
