<div  data-controller="update-users" data-update-users-target="scholar">
  <div class = "row">
    <div class= "d-flex">
      <div class="table-input d-flex align-items-center justify-content-left m-1">
        <div class="d-flex edit-address" data-action="click->update-users#updateArrowToggle">
          <img src="https://cdn0.iconfinder.com/data/icons/ecommerce-121/24/drop-down_down-512.png" alt="edit option" data-update-users-target="arrow" class="arrow-up">
        </div>
        <div>
          <strong><%= team.scholar_name.present? ? team.scholar_name : "" %></strong>
        </div>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= team.win_rate.present? ? (team.win_rate * 100).to_i : "" %>%
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= team.mmr.present? ? number_with_delimiter(team.mmr, :delimiter => ',') : "" %>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= team.rank.present? ? number_with_delimiter(team.rank, :delimiter => ',') : "" %>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= team.current_slp.present? ? number_with_delimiter(team.current_slp, :delimiter => ',') : "" %>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= team.total_slp.present? ? number_with_delimiter(team.total_slp, :delimiter => ',') : "" %>
      </div>
      <div class="table-input d-flex align-items-center justify-content-center m-0">
        <%= "In " %><%= team.next_claim.present? ? ((Time.at(team.next_claim) - Time.now)/60/60/24).to_i : "" %><%= ((Time.at(team.next_claim) - Time.now)/60/60/24).to_i == 1 ? " day" : " days" %>
      </div>
    </div>
    <div class = "empty-row mt-0 mb-0 w-100">
      <%= simple_form_for team, url: "/ronin_address/#{team.id}",
        :method => :patch,
        html: { class: "d-flex justify-content-left mt-2 d-none", data: { update_users_target: "form", action: "submit->update-users#updateScholarName" }},
        defaults: { wrapper: false },
        remote: true do |f| %>
        <div class="">
          <div class="d-flex form-input h-100">
            <%= f.input :scholar_name, label: false, input_html: { class: "visible-input-update"}, placeholder: 'New scholar name' %>
            <%= f.input :ronin_address, :as => :hidden, :input_html => { :value => team.ronin_address } %>
          </div>
        </div>
        <div class="submit">
          <%= f.submit "Update" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
