<div class="user-show d-flex justify-content-between">
    <div class="general-stats">
      <p>Hola!</p>
    </div>
    <div class="user-stats">
      <div class="d-flex justify-content-between">
        <div class="card-summary">
          <span class="underline"><%= @user.teams.exists? ? number_with_delimiter(@current_slp, :delimiter => ',') : "- " %></span>
          <p>Claimable SLP's</p>
        </div>
        <div class="card-summary">
          <span class="underline"><%= @user.teams.exists? ? ((@wins.to_f / @battles.to_f) * 100).to_i : "- " %>%</span>
          <p>Win Rate</p>
        </div>
        <div class="card-summary">
          <span class="underline" ><%= @user.teams.exists? ? number_with_delimiter(@mmr.max, :delimiter => ',') : "- " %></span>
          <p>Highest MMR</p>
        </div>
        <div class="card-summary">
          <span class="underline"><%= @user.teams.exists? ? number_with_delimiter(@mmr.min, :delimiter => ',') : "- " %></span>
          <p>Lowest MMR</p>
        </div>
      </div>
      <div class="mt-5">
      <% if (current_user.present?) && (current_user.id == params[:id].to_i) %>
        <%= simple_form_for @team, url: "/ronin_address", :method => :patch, html: { class: "d-flex justify-content-center mt-2"}, defaults: { wrapper: false } do |f| %>
          <div class="">
            <div class="d-flex form-input h-100">
              <%= f.input :scholar_name, label: false, input_html: { class: "visible-input"}, placeholder: 'Scholar name' %>
              <%= f.input :ronin_address, label: false, input_html: { class: "visible-input"}, placeholder: 'Ronin address' %>
              <%= f.input :user_id, :as => :hidden, :input_html => { :value => @user.id } %>
            </div>
          </div>
          <%= f.submit "Track address", class: "btn-submit" %>
        <% end %>
      <% end %>
      </div>
      <div class="mt-5">
        <div class = "row-headers">
          <div class= "d-flex w-100">
            <div class="table-input-2 d-flex align-items-center justify-content-center m-0">
              <strong>Scholar name</strong>
            </div>
            <div class="table-input-2 d-flex align-items-center justify-content-center m-0">
              <strong>Win rate</strong>
            </div>
            <div class="table-input-2 d-flex align-items-center justify-content-center m-0">
              <strong>MMR</strong>
            </div>
            <div class="table-input-2 d-flex align-items-center justify-content-center m-0">
              <strong>Rank</strong>
            </div>
            <div class="table-input-2 d-flex align-items-center justify-content-center m-0">
              <strong>Claimable SLPs</strong>
            </div>
            <div class="table-input-2 d-flex align-items-center justify-content-center m-0">
              <strong>Total SLP</strong>
            </div>
            <div class="table-input-2 d-flex align-items-center justify-content-center m-0">
              <strong>Next claim</strong>
            </div>
          </div>
        </div>
        <% @user.teams.each do |team| %>
          <div class = "row">
            <div class= "d-flex w-100">
              <div class="table-input d-flex align-items-center justify-content-center m-0">
                <strong><%= team.scholar_name.present? ? team.scholar_name : "" %></strong>
              </div>
              <div class="table-input d-flex align-items-center justify-content-center m-0">
                <%= team.win_rate.present? ? (team.win_rate * 100).to_i : "" %>%
              </div>
              <div class="table-input d-flex align-items-center justify-content-center m-0">
                <%= team.mmr.present? ? number_with_delimiter(team.mmr, :delimiter => ',') : "" %>
              </div>
              <div class="table-input d-flex align-items-center justify-content-center m-0">
                <%= team.rank.present? ? number_with_delimiter(team.rank, :delimiter => ',') : "" %>
              </div>
              <div class="table-input d-flex align-items-center justify-content-center m-0">
                <%= team.current_slp.present? ? number_with_delimiter(team.current_slp, :delimiter => ',') : "" %>
              </div>
              <div class="table-input d-flex align-items-center justify-content-center m-0">
                <%= team.total_slp.present? ? number_with_delimiter(team.total_slp, :delimiter => ',') : "" %>
              </div>
              <div class="table-input d-flex align-items-center justify-content-center m-0">
                <%= "In " %><%= team.next_claim.present? ? ((Time.at(team.next_claim) - Time.now)/60/60/24).to_i : "" %><%= ((Time.at(team.next_claim) - Time.now)/60/60/24).to_i == 1 ? " day" : " days" %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>


</div>
